# This file contains common pin mappings for the BIGTREETECH SKR mini
# E3 v2.0. To use this config, the firmware should be compiled for the
# STM32F103 with a "28KiB bootloader" and USB communication. Also,
# select "Enable extra low-level configuration options" and configure
# "GPIO pins to set at micro-controller startup" to "!PA14".

# The "make flash" command does not work on the SKR mini E3. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR
# mini E3 with that SD card.

# See docs/Config_Reference.md for a description of parameters.

[include fluidd.cfg]
[include mcu/*.cfg]
[include steppers/*.cfg]
[include bltouch/*.cfg]

[bltouch]
x_offset: -45
#   The distance (in mm) between the probe and the nozzle along the
#   x-axis. The default is 0.

y_offset: -5
#   The distance (in mm) between the probe and the nozzle along the
#   y-axis. The default is 0.

#z_offset: 1.650
#   The distance (in mm) between the bed and the nozzle when the probe
#   triggers. This parameter must be provided.

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 15
max_z_accel: 100

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.143333, -0.010000, -0.230000
#*# 	0.422500, 0.267500, -0.005000
#*# 	0.635833, 0.485000, 0.251667
#*# tension = 0.2
#*# min_x = 10.0
#*# algo = bicubic
#*# y_count = 3
#*# mesh_y_pps = 2
#*# min_y = 10.0
#*# x_count = 3
#*# max_y = 220.0
#*# mesh_x_pps = 2
#*# max_x = 200.0
#*#
#*# [bed_mesh steel_pei]
#*# version = 1
#*# points =
#*# 	0.143333, -0.010000, -0.230000
#*# 	0.422500, 0.267500, -0.005000
#*# 	0.635833, 0.485000, 0.251667
#*# tension = 0.2
#*# min_x = 10.0
#*# algo = bicubic
#*# y_count = 3
#*# mesh_y_pps = 2
#*# min_y = 10.0
#*# x_count = 3
#*# max_y = 220.0
#*# mesh_x_pps = 2
#*# max_x = 200.0
#*#
#*# [bltouch]
#*# z_offset = 1.184
